
.gray-col {
  background-color: $gray__lighter;
  padding-top: $baselineheight;
  padding-right: $baselineheight;
}

// Entry headers
.eh-2-3 {

  p {
    width: 75%;
  }
}

.eh-3-2 {

  p {
    width: 85%;
  }

}