@import "layout/grid";
@import "layout/sidebar";
@import "layout/content";

#page {
  @include box-sizing;
  width:  $size__site-main;
  margin: auto;

  @include up-to(large){
    width: 100%;
  }
}

  .site-header {
    @include box-sizing;
    border-bottom: 2px solid $red;
    width: 100%;
    float: left;
  }

  .site-content {
    @include box-sizing;

  }

    .entry-header {
      height: 250px;
      background-color: $gray;
    }

      .entry-excerpt {
        margin-top: 50px;
      }

    .entry-aside {
      
    }

    .entry-content {

      &:not(.gray-col) {
        margin-top: $baselineheight;
      }  

      &:not(.plain) {
        padding-left: $baselineheight;
      }
    }    

  .site-footer {
    @include box-sizing;
  }
