@import "layout/grid";
@import "layout/sidebar";
@import "layout/content";

html, 
body {
  height: 100%;
}

#page {
  @include box-sizing;
  width:  $size__site-main;
  height: 100%;
  margin: auto;

  @include up-to(large){
    width: 100%;
  }
}

  .site-header {
    @include box-sizing;
    border-bottom: 2px solid $red;
    width: 100%;
    float: left;
    padding: $baselineheight / 3 0 ;
  }

  .site-content {
    @include box-sizing;
    min-height: 100%;
    margin-bottom: - $footerheight;

    img {
      padding: 2% 0 0 3%;
    }
  }

    .entry-header {
      display: table;
      height: 250px;
      width: 100%;
      background-color: $gray;
      float: none;
      margin: 0;
      padding: 0;

      .thumbnail {
        display: table-cell;
        vertical-align: middle;
        float: none;
      }
        img {
          display: block;
          margin: auto;
          padding: 0;
        }

      p {
        margin: 0 auto;
      }
    }

      .entry-excerpt {
        display: table-cell;
        vertical-align: middle;
        float: none !important;
      }

    .entry-aside {
      
    }

    .entry-content {

      &:not(.gray-col) {
        margin-top: $baselineheight;
      }  

      &:not(.plain) {
        padding-left: $baselineheight;

        @include up-to(medium) {
          padding-left: $baselineheight / 2;
        }
      }
    }    

  .site-footer {
    @include box-sizing;
    clear: both;
    padding-top: $footerheight / 2;
    height: $footerheight ;
  }
