

.entry-aside {

  .widget {

    @include box-sizing();
    padding: $baselineheight;
    margin-bottom: $baselineheight;

    p:last-child {
      margin-bottom: 0;
    }
    
    &:nth-child(1n) {
      background-color: $gray__lighter;
    }

    &:nth-child(2n) {
      background-color: $gray;
    }
  }
}

.homepage {
  .widget {
    @include up-to(medium) {
      margin-bottom: 0;
      padding: $baselineheight / 2;

      &:last-child{
        display: none;
      }
    } 
  }
}

.fix-align {
  margin-top: 50px;
  @include up-to(medium){
    margin-top: 0;
  }
}

.fallback-mobile {
  display: none;

  @include up-to(medium){
    background-color: $gray__light;
    padding: 10px;
    display: block;
    margin-top: $baselineheight * 2;
  }
}