

.entry-aside {

  .widget {

    @include box-sizing();
    padding: $baselineheight;
    margin-bottom: $baselineheight;

    p:last-child {
      margin-bottom: 0;
    }
    
    &:nth-child(1n) {
      background-color: $gray__lighter;
    }

    &:nth-child(2n) {
      background-color: $gray;
    }

    @include up-to(medium) {
      margin-bottom: 0;
    }

  }


}