h1, h2, h3, h4, h5, h6 {
  font-family: $font__title;
  font-weight: bold;
	clear: both;
}

h1, 
h2 {
  text-transform: uppercase;
  color: $red__light;
  @include font-size(2);
  margin-bottom: $baselineheight;
}

.plain {
  h1 {
    margin-left: $baselineheight;
  }
}

h3 {
  @include font-size(1.8);
  position: relative;
  margin-bottom: $baselineheight;
  color: $black;
}

.astro {
  position: absolute;
  top: -5px;
  display: inline-block;
  width: 35px;

  img {
    margin: 0;
    padding: 0;
  }
}

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }


h4 {
  color: $black;
  font-family: $font__main;
  @include font-size(1.4);
}

.entry-excerpt {
  font-family: $font__title;
  @include font-size(2.4);
  font-weight: bold;
  color: $white;
  margin-top: 1.4;

  @include up-to(medium) {
    @include font-size(2);
  }
}

