ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}


// SPECIAL LISTS

.fleches {
  margin: 0;
  list-style-image: url(img/IF_fleche_rouge.png);
  color: $gray__darker;

  li {
    margin: 0 0 $baselineheight $baselineheight;
  }

}


%serial {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    margin-bottom: $baselineheight;
    float: left;
  }

  p {
    margin: 0;
  }
}

.serial-blocks {
  @extend %serial;

  li {
    @include box-sizing;
    width: 32%;
    height: 200px;
    margin-right: 2%;
    padding: 20px 15px;
    background-color: $gray__light;
    color:$gray__darker;

    @include up-to(medium) {
      width: 49%;

      &:nth-child(2n+2){
        margin-right: 0;
      }
    }

    @include at-least(large){
      &:nth-child(3n+3){
        margin-right: 0;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

.serial-list {
  @extend %serial;

  li {
    width: 48%;
    margin-right: 2%;

    &:nth-child(2n+2){
      margin-right: 0;
    }
    
    &:nth-child(2n+1) {
      clear: both;
    }
  }
}

.no-margin-bottom {
  li {
    margin-bottom: 0;
  }
}

p.no-margin-bottom {
  margin-bottom: 0;
}

