$size__site-main:       980px;
$size__site-gutter:     0;
$size__site-cols:       5;

$minimal_breakpoint:    320px !default;
$medium_breakpoint:     760px !default;
$large_breakpoint:      980px !default;
$wide_breakpoint:       1200px !default;
