a {
	color: $color__link;
  text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:focus,
	&:active {
	}
	&:hover {
		color: $color__link-hover;
    border-bottom: 1px dotted $color__link-hover;
	}
}