.site-branding {
	float: left;
	
	@include up-to(medium) {
		width: 30%;
	}
	
	@include up-to(large) {
		width: 30%;
	}
}

.site-header {
	a {
		color: inherit;

		&:hover {
			border: none;
		}
	}
}

.site-contact {
	display: inline-block;
	width: 25px;
	height: 15px;
	background: url('img/IF_enveloppe_gris.png') no-repeat;
	margin-left:$baselineheight;

	&:hover {
		background: url('img/IF_enveloppe_rouge.png') no-repeat;
	}
}

.main-navigation {
	display: inline-block;
	float: left;

	@include up-to(medium){
		width: 70%;
		margin-bottom: $baselineheight;
	}
	
	@include up-to(large) {
		width: 70%;
	}

	ul {
		display: block;
		float: right;
		list-style: none;
		margin-top: 30px;
		padding-left: 0;

		@include up-to(medium) {
			display: none;
			width: 100%;
			margin: auto;
			float: none;
		}
		
		@include up-to(large) {
			width: 100%;
			margin: 20px auto;
			float: none;
		}		
	}

	li {
		float: left;
		position: relative;
		padding: 0 15px;
		border-right: 1px solid $gray;

		&:last-child {
			border: none;
		}

		&:hover > a {
			color:$red;
		}

		@include up-to(medium){
			width: 50%;
			border: none;
			padding: 0;
			margin: 0;
		}
		
		@include up-to(large){
			width: 50%;
			border: none;
			padding: 0;
			margin: 0;
		}		
	}
	a {
		display: block;
		width: 130px;
		text-decoration: none;
		padding: 5px 15px;
		color: $gray__dark;
		text-align: center;

		@include up-to(medium){
			width: auto;
		}
		
		@include up-to(large){
			width: auto;
		}

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		background: $red__light;
		color: #fff;

		&:hover {
			color: $white;
		}
	}
}


.secondary-navigation {
	@include box-sizing; 

	ul {
		display: block;
		list-style: none;
		text-align: center;
		@include font-size (1.2);
		margin: 0;
		width: 100%;
	}
	
		li {
			display: inline;
			padding: 0 3px 0 0;
			border-right: 1px solid $gray;
			line-height: 8px;
			line-height: 0.8rem;


			&:last-child {
				border: none;
			}

			&:hover > a {
				border: none;
				color: $red;
			}
		}
			a {
				text-decoration: none;
				color: $gray__dark;
				padding: 0 5px;

				&[href*="contact"] {
					background-color: $red;
					color: $white;

					&:hover {
						color: $white;
					}
				}
			}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $red;

		&[href*="contact"] {
			color: $white;
		}		
	}

}


/* Job Nav */

.job-list {

	li {

		a {
			color: $gray__dark;

			&:hover {
				color: $black;
				border-color: $black;
			}
		}

		&.current_page_item {
			a {
				color: $black;
			}
		}
	}


}



/* Small menu */
.menu-toggle {
	display: none;

	@include up-to(medium){
		display: block;
		margin: 0;
		float: none;
		width: 100%;
		height: 40px;
		margin-bottom: $baselineheight;
	}

}

@media screen and (max-width: $medium_breakpoint) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}



